body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
}

nav img{
  width: 230px;
  height: 50px;
}

.left-nav{
  display: flex;
  gap: 20px;
}