body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav{
  display: flex;
  justify-content: space-around;
}

.container img{
  width: 230px;
  height: 50px;
}

.left-nav{
  display: flex;
  gap: 18px;
}

.left-nav div{
  font-size: 13px;
}

.header {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 458px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgb(183, 183, 183);
}

.header img{
  margin-top: 8px;
}

.small-logo{
  margin-top: 10px;
  
}

.small-logo img{
  width: 35px;
  height: 38px;
  display: flex;
  margin-left: 743px;
}

.small-logo p{
  font-size: 13px;
  text-align: center;
}

.full-section{
  width: 70%;
  margin-left: 250px;
}

.full-section p{
  font-size: 13px;
  line-height: 18px;
}

.hr-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.hr-container hr {
  flex: 1;
  /* border: none; */
  height: 1px;
  background-color: #ccc;
  color: black;
  font-weight: bold;
}

.hr-container span {
  margin: 0 15px;
  font-size: 18px;
  color: black;
}

.denomination{
  display: flex;
  justify-content: space-between;
}

.denomination input{
  width: 520px;
  height: 35px;
  font-size: 13px;
  border: none;
  border: 1px solid gray;
  border-radius: 5px;
}

.denomination p{
  text-align: right;
  color: rgb(79, 79, 79);
  padding-top: 5px;
  font-size: 10px;
}

.section {
  font-family: Arial, sans-serif;
  max-width: 300px;
}

.title {
  margin: 15px 0 8px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 15px;
  border: 1px solid gray;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  color: black;
  position: relative;
}

.button:hover{
  background-color: gray;
}


.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid black;
}

.circle-se .inner{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  margin-left: 3.5px;
  margin-top: 3.5px;
}

.circle-se {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
}

.gift-card{
  display: flex;
  margin-left: 480px;
  outline: 2px solid rgb(13, 132, 202);
  width: 98px;
  height: 83px;
  border-radius: 5px;
}

.gift-card img{
  margin: auto;
  width: 90px;
}


.name{
  display: flex;
  gap: 25px;
}
.name input{
  width: 250px;
  height: 34px;
  font-size: 12px;
  border: none;
  border: 1px solid rgb(189, 187, 187);
  border-radius: 5px;
}

.sender .linput{
  width: 525px;
  height: 34px;
  font-size: 12px;
  border: none;
  border: 1px solid rgb(189, 187, 187);
  border-radius: 5px;
}

.receiver{
  margin-left: 550px;
  margin-top: -197px;
}

.receiver .rec{
  display: flex;
  justify-content: space-between;
}

.receiver .linput{
  width: 525px;
  height: 34px;
  font-size: 12px;
  border: none;
  border: 1px solid rgb(189, 187, 187);
  border-radius: 5px;
}

.receiver .check{
  width: 18px;
  height: 18px;
  margin-top: 5px;
  cursor: pointer;
  
}

.receiver .rec label{
  font-size: 12px;
  color: rgb(79, 79, 79);
  text-align: center;
}

.sr-details .b-item{
  text-align: right;
  color: gray;
  font-size: 12px;
}

.receiver .ltextarea{
  width: 525px;
  height: 50px;
  font-size: 12px;
  border: none;
  border: 1px solid rgb(189, 187, 187);
  border-radius: 5px;
}

.preview button{
  margin-left: 450px;
  border: none;
  border: 1px solid red;
  color: red;
  background-color: white;
  border-radius: 5px;
  height: 35px;
  width: 180px;
  font-size: 13px;
}

.preview button:hover{
  background-color: red;
  color: white;
}

.payment{
  display: flex;
  justify-content: space-between;

}

.payment input{
  width: 200px;
  font-size: 12px;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  border: 1px solid rgb(189, 187, 187);
}

.payment button{
  width: 60px;
  font-size: 13px;
  height: 35px;
  border: none;
  background-color: white;
  border: 1px solid red;
  color: red;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.payment button:hover{
  background-color: red;
  color: white;
}

.condition{
  justify-content: center;
  display: flex;
  gap: 10px;
}
.condition input{
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.condition p{
  font-size: 15px;
}

.condition p span{
  color: red;
}

.pay{
  margin-top: 10px;
}

.pay button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
  border: none;
  border: 1px solid red;
  color: red;
  background-color: white;
  border-radius: 5px;
  height: 35px;
  width: 110px;
  font-size: 13px;
  
}

.pay button:hover{
  background-color: red;
  color: white;
}

.pay p{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.pay p span{
  color: red;
  text-decoration: underline;
}

.list{
  font-size: 12px;
  color: rgb(70, 69, 69);
}

footer{
  background-color: rgb(193, 190, 190);
  width: 100%;
  height: 40px;
}

footer p{
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 13px;
  font-size: 12px;
}

