
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.top-nav {
    background-color: rgb(96, 98, 96);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-nav .vr {
    border-right: 1px solid #aaa;
    padding-right: 10px;
    font-size: 13px;
}

.left-nav p {
    font-size: 10px;
    margin: 0;
}


.rvr, .lvr, .heart {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}

.rvr {
    border-right: 1px solid #aaa;
    padding-right: 10px;
    height: 30px;
}

.lvr {
    border-left: 1px solid #aaa;
    padding-left: 10px;
}

.heart img, .lvr img, .rvr img {
    width: 25px;
    height: 25px;
}


.center-nav {
    display: flex;
    align-items: center;
    height: 90px;
    /* justify-content: space-between;  */
    /* padding-top: 8px;  */
    /* flex-wrap: wrap; */
}

.logo img {
    margin-left: 100px;
}


.navbar {
    font-weight: bold;
    font-size: 13px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
    margin-left: 50px; 
}


.search {
    display: flex;
    align-items: center;
    margin-left: 60px;
    /* gap: 10px; */
}

.search input {
    width: 250px;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    /* text-align: center; */
    font-weight: bold;
}


.search input:focus {
    outline: none;
    border-bottom: 1px solid black;
}


.del-button {
  margin-left: 20px;
}

.del-button button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 50px;
  background-color: rgb(255, 221, 0); /* Bright yellow */
  border: none;
  border-radius: 25px;
  padding: 0 15px;
  cursor: pointer;
}

.del-button button img {
  width: 24px;
  height: 24px;
}

.del-button .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
}

.del-button .main-text {
  font-weight: bold;
  font-size: 14px;
  color: #00205b; /* dark blue/blackish */
}

.del-button .sub-text {
  font-size: 12px;
  color: #666666;
}


.fashion img{
    display: flex;
    margin-left: 60px;
}


.header {
   background-image: url(./images/home.png);
   background-size: center;
   background-position: center;
   width: 100%;
   height: 600px;
}

